
.container {
    background: white;
    width: 90%;
    padding: 10px 12px;
    border-radius: 8px;
    box-shadow: 0px 4px 37px 0px rgba(0, 0, 0, 0.15);
    margin: auto !important;
}

.button {
    width: 100%;
}