.container {
    border-radius: 6px;
    border: 1px solid#E0E0E0;
}

.title {
    border-radius: 6px 6px 0px 0px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
    color: var(--general-color);
    padding: 18px;
}

.content {
    padding: 18px;
}