@use 'sass:list';
@import '/src/app/styles/variables/variables';

@mixin custom-scroll {
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        border: 4px solid rgb(0 0 0 / 0%);
        background-clip: padding-box;
        background-color: rgb(255 255 255 / 10%);
        border-radius: 12px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgb(255 255 255 / 20%);
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: rgb(255 255 255 / 20%);
    }
}

@mixin page-container {
    max-width: $breakpoint-desktop;
    margin: auto;
    padding: min(10vh, 100px) 0 60px;

    @media screen and (max-width: $breakpoint-desktop) {
        padding: min(8vh, 70px) 0 60px;
    }

    @media screen and (max-width: $breakpoint-tablet-small) {
        padding: 40px 0 50px;
    }
}