* {
    font-family: var(--font-family-main);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
