$breakpoint-mobile-small: 320px;
$breakpoint-mobile: 480px;
$breakpoint-tablet-small: 650px;
$breakpoint-tablet: 768px;
$breakpoint-desktop-small: 992px;
$breakpoint-desktop: 1166px;
$desktop-header-width: 1250px;
$header-container: 1366px;
