.container {
    border-radius: 6px;
    background: #FFF;
}

.hotelImage {
    border-radius: 6px 6px 0px 0px;
    display: block;
    width: 100%;
    max-height: 200px;
}

.info {
    padding: 20px;
}

.title {
    color: var(--general-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
    margin-bottom: 8px;
}

.rate {
    margin-bottom: 24px;
}

.check {
    color: var(--general-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.14px;
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0;
    }
}