@font-face {
    font-family: 'SF Pro Display';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url('./SF-Pro-Display-Ultralight.woff') format('woff'),
        url('./SF-Pro-Display-Ultralight.eot') format('eot'),
        url('./SF-Pro-Display-Ultralight.otf') format('otf'),
        url('./SF-Pro-Display-Ultralight.ttf') format('ttf');
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./SF-Pro-Display-Light.woff') format('woff'),
        url('./SF-Pro-Display-Light.eot') format('eot'),
        url('./SF-Pro-Display-Light.otf') format('otf'),
        url('./SF-Pro-Display-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./SF-Pro-Display-Regular.woff') format('woff'),
        url('./SF-Pro-Display-Regular.eot') format('eot'),
        url('./SF-Pro-Display-Regular.otf') format('otf'),
        url('./SF-Pro-Display-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./SF-Pro-Display-Medium.woff') format('woff'),
        url('./SF-Pro-Display-Medium.eot') format('eot'),
        url('./SF-Pro-Display-Medium.otf') format('otf'),
        url('./SF-Pro-Display-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('./SF-Pro-Display-Semibold.woff') format('woff'),
        url('./SF-Pro-Display-Semibold.eot') format('eot'),
        url('./SF-Pro-Display-Semibold.otf') format('otf'),
        url('./SF-Pro-Display-Semibold.ttf') format('ttf');
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./SF-Pro-Display-Bold.woff') format('woff'),
        url('./SF-Pro-Display-Bold.eot') format('eot'),
        url('./SF-Pro-Display-Bold.otf') format('otf'),
        url('./SF-Pro-Display-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('./SF-Pro-Display-Heavy.woff') format('woff'),
        url('./SF-Pro-Display-Heavy.eot') format('eot'),
        url('./SF-Pro-Display-Heavy.otf') format('otf'),
        url('./SF-Pro-Display-Heavy.ttf') format('ttf');
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('./SF-Pro-Display-Black.woff') format('woff'),
        url('./SF-Pro-Display-Black.eot') format('eot'),
        url('./SF-Pro-Display-Black.otf') format('otf'),
        url('./SF-Pro-Display-Black.ttf') format('ttf');
}
