@import '../../../app/providers/styles/variables/variables.scss';

.header {
    padding: 20px 0;
    margin-bottom: 12px;
}

.logo {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    color: var(--general-color);

    & svg {
        fill: var(--blue-color);
        width: 24px;
        height: 24px;
    }
}